{% extends "base.html" %}
{% block head_content %}
{% endblock %}
{% block main_content %}
<div class="container">
    <div class="contact mt-5">
        <h3><strong>Contact Us</strong></h3>
        <p>Fill the below Form.</p>
        <br>
        {% if text %}
        <div class="alert alert-success" role="alert">
            {{text}}
        </div>
        {% endif %}
        <form method="post" action="/contact">
            {% csrf_token %}
            <div class="row">
                <div class="mb-3 col-sm-6">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name"
                        placeholder="Enter your First Name" value="{{first_name}}">
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name"
                        placeholder="Enter your Last Name" value="{{last_name}}">
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-sm-6">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email"
                        placeholder="Enter your Email Address" value="{{email}}">
                </div>
                <div class="mb-3 col-sm-6">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone"
                        placeholder="Enter your Phone Number" value="{{phone}}" maxlength="10">
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-sm-12">
                    <label for="message" class="form-label">Enter your Message</label>
                    <input type="text" class="form-control" id="message" name="message" placeholder="Type here !"
                        value="{{message}}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-sm-1 rounded-pill">Submit</button>
        </form>
    </div>
    <div class="contact mt-5">
        <p><strong>Address</strong></p>
        <br>
        <p>1 Hacker Way, Menlo Park, CA 94025</p>
        <p><strong>Email: </strong>contact@foodie.com</p>
        <p><strong>Contact Number: </strong>2056782200</p>
    </div>
</div>
{% endblock %}