{% extends "base.html" %}
{% block head_content %}
{% endblock %}
{% block main_content %}
<div class="container justify-content-center d-flex">
    <div class="wrapper bg-white rounded shadow mt-5 col-sm-8">
        <div class="h3 text-center">How can we help you?</div>
        <!-- <div class="d-flex justify-content-center">
            <div class="search w-75 d-flex align-items-center">
                <span class="fas fa-search text-dark"></span>
                <input type="text" class="form-control" placeholder="Describe your issue">
            </div>
        </div> -->
        <div class="accordion accordion-flush border-top border-start border-end" id="myAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Frequent Asked Questions ? </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <li>
                                <p><strong>How to Login to Foodie?</strong></p>
                                <p>Before login you need to Signup, and then using Login button Login into your account.
                                </p>
                            </li>
                            <li>
                                <p><strong>How to order food online?</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Enim neque volutpat ac tincidunt vitae
                                    semper quis lectus nulla. Ipsum suspendisse ultrices gravida dictum fusce ut
                                    placerat orci nulla. Nec sagittis aliquam malesuada bibendum arcu. Lorem mollis
                                    aliquam ut porttitor. Egestas integer eget aliquet nibh praesent tristique magna sit
                                    amet. Viverra nam libero justo laoreet sit. Tortor condimentum lacinia quis vel
                                    eros. Eget felis eget nunc lobortis. Diam sit amet nisl suscipit. Proin libero nunc
                                    consequat interdum varius.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        About delivery and Milege limits</button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <li>
                                <p><strong>How far can I deliver? Is there a mileage limit?</strong></p>
                                <p>Mileage restrictions are established at the market level to improve both the consumer
                                    and delivery driver experience. Please get in touch with your account manager, phone
                                    +1 866-987-3750, or send an email to contact@foodie.com for further details on
                                    mileage restrictions by market. Please provide the pickup locations for which you're
                                    asking a distance cap in your initial request to speed up the response time.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Notes for delivery driver? </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <li>Yes! You can specify pickup and/or dropoff instructions for the delivery person who
                                accepts your delivery using one of the following methods when creating a delivery:</li>
                            <li>
                                <p><strong>Dashboard user</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Tristique et egestas quis ipsum
                                    suspendisse ultrices gravida dictum. Urna nunc id cursus metus aliquam eleifend mi
                                    in nulla. Tellus orci ac auctor augue mauris augue neque gravida. Eget nunc
                                    scelerisque viverra mauris in aliquam. Lobortis elementum nibh tellus molestie.
                                    Bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim. Nec ultrices
                                    dui sapien eget mi proin sed. Ullamcorper a lacus vestibulum sed arcu. Velit egestas
                                    dui id ornare arcu odio ut sem nulla.</p>
                            </li>
                            <li>
                                <p><strong>Additional Information</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Eget gravida cum sociis natoque
                                    penatibus et magnis dis parturient. Quis lectus nulla at volutpat. Mattis rhoncus
                                    urna neque viverra justo nec. Et egestas quis ipsum suspendisse. Mi proin sed libero
                                    enim sed faucibus turpis in. Mattis vulputate enim nulla aliquet. Eget dolor morbi
                                    non arcu risus quis varius quam. Nam libero justo laoreet sit. Tellus orci ac auctor
                                    augue mauris augue neque gravida in. Risus ultricies tristique nulla aliquet enim
                                    tortor at. Et egestas quis ipsum suspendisse. Egestas erat imperdiet sed euismod
                                    nisi porta lorem mollis aliquam. Nulla porttitor massa id neque aliquam vestibulum
                                    morbi. Est placerat in egestas erat imperdiet sed euismod nisi porta. Nibh ipsum
                                    consequat nisl vel. Enim eu turpis egestas pretium aenean pharetra magna. Sed
                                    viverra tellus in hac habitasse platea dictumst vestibulum.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        How do I require signature or ID scan at dropoff? </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Mattis ullamcorper velit sed
                                    ullamcorper morbi tincidunt ornare massa eget. Cursus sit amet dictum sit. Nunc
                                    lobortis mattis aliquam faucibus purus in massa. Quis lectus nulla at volutpat diam
                                    ut. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. At imperdiet
                                    dui accumsan sit amet nulla facilisi. Consequat interdum varius sit amet. Sit amet
                                    mattis vulputate enim. Viverra justo nec ultrices dui sapien eget mi. Elit ut
                                    aliquam purus sit amet. Fusce id velit ut tortor pretium viverra. Dolor sit amet
                                    consectetur adipiscing elit duis tristique. Pellentesque massa placerat duis
                                    ultricies lacus sed. Ac tincidunt vitae semper quis lectus nulla at volutpat diam.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Why do I have to provide quantity and size info on every delivery? </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <li>
                                <p>The more size and quantity details you can include in your delivery request, the more
                                    effectively our algorithm will be able to match you with the ideal delivery driver
                                    for your delivery! This prevents us from sending a cyclist to deliver a TV in a
                                    practical sense. Consectetur adipiscing elit, lorem ipsum dolor sit amet, do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua, sed do. Rather than ullamcorper
                                    morbi tincidunt ornare massa eget, mattis ullamcorper velit. dictum sat, cursus sit
                                    amet. In massa, nunc lobortis mattis aliquam faucibus. At volutpat quis lectus nulla
                                    diam ut. Elemental lobortis sit amet facilisis magna etiam tempor. Dui accumsan sit
                                    amet nulla facilisi at imperdiet. Sit amet consequat interdum varius. Mattis
                                    vulputate enim, sit amet. Justo nec ultrices viverra
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        Policy & copyrights </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Nibh sit amet commodo nulla facilisi.
                                    Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Velit
                                    euismod in pellentesque massa placerat duis ultricies lacus. Eget mauris pharetra et
                                    ultrices neque ornare aenean euismod. Viverra nibh cras pulvinar mattis. Habitant
                                    morbi tristique senectus et netus et malesuada fames. Tortor posuere ac ut consequat
                                    semper viverra nam. Fames ac turpis egestas sed tempus urna. Facilisi cras fermentum
                                    odio eu feugiat. Rhoncus est pellentesque elit ullamcorper. Nibh tellus molestie
                                    nunc non. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar.
                                    Sit amet nulla facilisi morbi tempus. Facilisi etiam dignissim diam quis enim
                                    lobortis scelerisque fermentum.</p>

                                <p> Quam quisque id diam vel quam elementum pulvinar. Sit amet risus nullam eget felis.
                                    Fusce ut placerat orci nulla pellentesque dignissim enim sit. Mauris rhoncus aenean
                                    vel elit scelerisque mauris pellentesque. Risus feugiat in ante metus dictum at
                                    tempor commodo. Tellus molestie nunc non blandit massa. Proin sagittis nisl rhoncus
                                    mattis rhoncus urna neque viverra justo. Sed lectus vestibulum mattis ullamcorper
                                    velit. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Nulla
                                    facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Ac orci phasellus
                                    egestas tellus rutrum tellus pellentesque eu tincidunt. Consectetur a erat nam at
                                    lectus. Ipsum dolor sit amet consectetur adipiscing elit duis. Sit amet venenatis
                                    urna cursus eget nunc scelerisque viverra mauris. Eu tincidunt tortor aliquam nulla.
                                    Elementum tempus egestas sed sed risus pretium.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}